<div class="container">
  <div class="row rowmid justify-content-center align-items-center">
      <div class="col-md-3"></div>

      <div class="col-md-6 form-component-border">
        <form action="">
          <div class="form-group">
              <label for="uname">UserName</label>
              <input type="text" id="uname" name="uname" (keyup)="invalidUname=false" placeholder="Username" class="form-control" [(ngModel)]="userName">
              <small *ngIf="invalidUname" class="text-danger">Invalid Username</small>
          </div>
          <div class="form-group">
              <label for="pass">Password</label>
              <input type="password" id="pass" name="pass" (keyup)="invalidPass=false" placeholder="Password" class="form-control" [(ngModel)]="password">
              <small *ngIf="invalidPass" class="text-danger">Invalid Password</small>
          </div>
          <button type="submit" (click)="login()" class="btn btn-primary btn-block">Login</button>
       </form>
       <br>
       <a [routerLink]="['/register']" class="text-center">Dont have an account..register here</a>
       <br>
       <a routerLink="/" class="text-right">forgot password?</a>
      </div>

      <div class="col-md-3"></div>
  </div>
</div>

