<!-- <p>dashboard works!</p> -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand">LinkCode Technologies</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link btn btn-danger btn-outline-white" (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div style="height: 5vh;"></div>

<div class="container">
  <div class="row rowmid justify-content-center align-items-center" *ngIf="isLoading">
    <!-- <h3>Loading...</h3> -->
    <div class="spinner-grow text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-secondary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-success" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-danger" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-warning" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-info" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-dark" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <div *ngIf="employees.length==0 && !isLoading">
    <div class="row">
      <div class="col-md-8 text-center">
        <img src="assets/ClipartKey_963596.png" alt="Not found image" width="400">
      </div>
      <div class="col-md-2">
        <div class="row sidetext align-items-center">
          <h1 class="text-left" style="font-weight: 900;">Nothing To Show.</h1>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
    <br><br>
  </div>

  <!-- <button class="btn btn-dark" type="button" (click)="logout()">Logout</button> -->
  <div *ngIf="!isLoading">
    <button class="btn btn-primary btn-block mb-4" type="button" [routerLink]="['/add-employee']">Add New Employee</button>
  </div>
  <table class="table table-hover table-dark table-bordered" *ngIf="!isLoading && employees.length!=0">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Email</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees;index as i">
        <td>{{i+1}}</td>
        <td>{{employee.email}}</td>
        <td>{{employee.firstName}}</td>
        <td>{{employee.lastName}}</td>
        <td><button class="btn btn-warning" type="button" [routerLink]="['/edit-employee/' + i]">Update</button></td>
        <td><button class="btn btn-danger" type="button" (click)="delete(i)">Delete</button></td>
      </tr>
  </table>



</div>


